# Ignore node_modules directory
node_modules

# Ignore log files
*.log

# Ignore environment variable files
.env

# Ignore build output
dist

# Ignore coverage reports
coverage

# Ignore IDE configuration files
.vscode
.idea

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore TypeScript output
*.tsbuildinfo
*.js
*.jsx
*.d.ts

# Ignore any other files that are not needed in the Docker image
*.md
*.json
*.yml
*.yaml
*.ts
*.tsx